<h1>TransferMarkt</h1>

<h2>Graphs</h2>
<ul>
    <li><a href="/market_value_jersey_comparison">Scatter: Jersey Number vs Player Market Value</a></li>
    <li><a href="/market_value_team_comparison">Scatter: Total Team Market Value vs Average Team Market Value</a></li>
    <li><a href="/players_vs_teams">Scatter: Players Market Value vs Teams Market Value</a></li>
    <li><a href="/positions">Bar: Player Positions vs Count of Positions</a></li>
    <li><a href="/positions_market_value">Bar: Player Positions vs Market Value</a></li>
</ul>

<h2>Tables</h2>
<ul>
    <li><a href="/teams">All Teams</a></li>
    <li><a href="/players_detailed">All Players</a></li>
</ul>


